@charset 'UTF-8';
// 1. Configuration and helpers
@import
'abstracts/variables',
'abstracts/functions',
'abstracts/mixins',
'abstracts/animations.scss';


// 2. Vendors
@import "node_modules/normalize.scss/normalize";
@import "vendors/bootstrap";
@import "node_modules/bootstrap/scss/bootstrap";

// 3. Base stuff
@import
'base/base',
'base/fonts',
'base/typography',
'base/helpers';

// 4. Layout-related sections
@import
'layout/header',
'layout/main-banner';

// 5. Components
//@import
//'components/checkbox-list',
//'components/burger',
//'components/hamburger',
//'components/modal',
//'components/link-footer',
//'components/modal-development',
//'components/spinner';
//
//// 7. Themes
//@import 'themes/default';

