.advantages-numbers{
  margin-bottom: 100px;
  &__row {
    display: flex;
    justify-content: space-between;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }
  &__col{
      width: 175px;
    div {
      font-weight: 500;
      font-size: 28px;
      line-height: 125.9%;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 6px;
    }
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 174.9%;
      color: #939393;
    }
  }
}


@media (max-width: $md){
  .advantages-numbers{
    margin-bottom: 50px;
    &__row{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__col {
      width: 160px;
      margin-bottom: 40px;
      &:last-of-type{
        margin-bottom: 0;
      }
      div {
        text-align: center;
        //font-size: 22px;
        //line-height: 125.9%;
      }
      //p {
      //  font-size: 13px;
      //}
    }
  }
}
