.advantages {
  position: relative;
  margin-bottom: 170px;
  &__img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 105px;
    height: 105px;
    margin-bottom: 25px;
    &--1 {
      background-image: url(../img/advantage-1.svg);
    }
    &--2 {
      background-image: url(../img/advantage-2.svg);
    }
    &--3 {
      background-image: url(../img/advantage-3.svg);
    }
    &--4 {
      background-image: url(../img/advantage-4.svg);
    }

    &--2-1 {
      background-image: url(../img/advantage-2-1.svg);
    }
    &--2-2 {
      background-image: url(../img/advantage-2-2.svg);
    }
    &--2-3 {
      background-image: url(../img/advantage-2-3.svg);
    }
    &--2-4 {
      background-image: url(../img/advantage-2-4.svg);
    }
    &--2-5 {
      background-image: url(../img/advantage-2-5.svg);
    }

    &--3-1 {
      background-image: url(../img/advantage-3-1.svg);
    }
    &--3-2 {
      background-image: url(../img/advantage-3-2.svg);
    }
    &--3-3 {
      background-image: url(../img/advantage-3-3.svg);
    }
    &--4-1 {
      background-image: url(../img/advantage-4-1.svg);
    }
    &--4-2 {
      background-image: url(../img/advantage-4-2.svg);
    }
    &--4-3 {
      background-image: url(../img/advantage-4-3.svg);
    }
    &--4-4 {
      background-image: url(../img/advantage-4-4.svg);
    }

  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 125.9%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }
  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 174.9%;
    text-align: center;
    color: #939393;
    margin-bottom: 17px;
  }
  &__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 174.9%;
    text-align: center;
    text-decoration-line: underline;
    color: #B01D1E;
    transition: .2s ease-in-out all;
    &:hover {
      color: #B01D1E;
      text-decoration-color: transparent;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 725px;
    margin-left: auto;
    margin-right: auto;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 22%;
    }

    &--3{
      max-width: 865px;
    }
    &--5{
      flex-wrap: wrap;
      justify-content: center;
      max-width: 860px;
      li{
        width: 33%;
        margin-bottom: 50px;
      }
      .advantages__text{
        max-width: 240px;
        min-height: 70px;
      }
    }
    &--arrows{
      .advantages__img{
        position: relative;
        &:after{
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -143px;
          width: 48px;
          height: 19px;
          background: url(../img/arrow-r-big-red.png);
        }

      }
      li{
        &:last-of-type{
          .advantages__img{
            &:after{
              display: none;
            }
          }

        }
      }
    }
  }
}

@media (max-width: $lg) {
  .advantages {
    &__list{
      .advantages__img{
        &:after{
          right: -113px;
        }
      }
    }
  }

}
@media (max-width: $md) {
  .advantages {
    margin-bottom: 70px;
    &__img {
      min-width: 85px;
      width: 85px;
      height: 85px;
      margin-right: 15px;
    }
    &__title {
      font-weight: 500;
      font-size: 14px;
      line-height: 125.9%;
      height: auto;
      margin-bottom: 4px;
      text-align: left;
    }
    &__text {
      font-size: 13px;
      line-height: 174.9%;
      color: #939393;
      text-align: left;
      margin-bottom: 6px;
    }
    &__link {
      font-size: 13px;
      line-height: 174.9%;
    }
    &__wrap {
      align-items: flex-start;
    }
    &__list {
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 47%;
        flex-direction: row;
        margin-bottom: 30px;
        align-items: flex-start;
      }

      &--arrows{
        li{
          align-items: center;
          div{
            margin-bottom: 0;
          }
        }
        .advantages__img{
          &:after{
            display: none;
          }

        }
      }
    }
  }
}

@media (max-width: $sm) {
  .advantages {
    &__list {
      flex-direction: column;
      li {
        width: 100%;
      }
    }
  }
}