.faq{
  h1{
    margin-bottom: 20px !important;
  }
  &__wrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__article {
    display: block;
    background: #fff;
    width: 820px;
  }

  p.faq__desc{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }

  p{
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &__section-wrap{
    padding: 0 15px;
  }
  &__title{
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 25px;
    padding: 0 15px 40px;
  }
  &__section{
    padding: 40px 0;
    border-bottom: 1px solid #D8D8D8;
    &:first-of-type{
      //padding-top: 0;
    }
    &:last-of-type{
      border-bottom: none;
    }
  }

  &__aside {
    padding: 15px;
    right: 0;
    top: 0;
    width: 260px;
  }
  &__cat-title{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__aside-list{
    display: flex;
    flex-direction: column;
    &>li{
      margin-bottom: 25px;
      line-height: 1.2;
      &>a{
        font-weight: 500;
        font-size: 16px;
        color: #000000;

        &:hover{
          color: #B01D1E;
        }
        &.active{
          color: #B01D1E;
          pointer-events: none;
        }
      }
      ul{
        padding-top: 15px;
        padding-left: 12px;
        padding-bottom: 5px;
        &>li{
          margin-bottom: 15px;
          line-height: 1.2;
          &:last-of-type{
            margin-bottom: 0;
          }
          &>a{
            font-weight: 500;
            font-size: 14px;
            color: #656565;
            &:hover{
              color: #B01D1E;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $xl) {
  .faq{
    &__article{
      width: 600px;
    }
    &__aside{

    }
  }
}

@media (max-width: $lg) {
  .faq{
    &__article{
      width: 500px;
    }
    &__aside{
      width: 200px;
    }
    &__aside-list{
      &>li{
        margin-bottom: 15px;
        ul{
          &>li{
            margin-bottom: 10px;
          }
        }
      }
    }
    &__section {
      padding: 25px 0;
    }
  }
}

@media (max-width: $md) {
  .faq{
    &__wrap{
      flex-direction: column;
    }
    &__article{
      width: 100%;
    }
    &__aside{
      width: 100%;
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
    }
    &__title {
      padding: 0 0 40px;
      border-bottom: none;
      margin: 0;
    }
    &__section-wrap {
      padding: 80px 0 0;
    }
    &__section {
      padding: 25px 0 25px;
    }
    &__aside-list{
    }
    &__cat-title{
      margin-bottom: 10px;
    }
    &__aside-list-anchor{
      margin-top: 25px;
      flex-direction: column;
      display: flex;
      li{
        margin-bottom: 15px;
        line-height: 1.2;
        &:last-of-type{
          margin-bottom: 0;
        }
        &>a{
          font-weight: 500;
          font-size: 14px;
          color: #656565;
          &:hover{
            //color: #B01D1E;
          }
        }
      }
    }
    .big-text.paragraph{
      padding-top: 0;
      margin-top: 0;
    }
  }
}

@media (max-width: $sm) {
  .faq{

  }
}
