.footer {
  padding-top: 30px;
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 75px;
  position: relative;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__logo {
    background: url(../img/logo-m.svg) center left/contain no-repeat;
    display: block;
    margin-top: 9px;
    min-width: 30px;
    height: 30px;
    margin-right: 60px;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    li {
      margin-right: 35px;
      display: inline-block;
      &:last-of-type {
      }
    }
    a {
      font-weight: normal;
      font-size: 13px;
      text-transform: uppercase;
      color: #040404;
      display: block;
      line-height: 1.3 !important;
      &:hover {
        color: #B01D1E;
      }
      &.active{
        color: #B01D1E;
        position: relative;
        padding-left: 13px;
        &:before{
          content: '';
          position: absolute;
          top: 4px;
          left: 0px;
          width: 6px;
          height: 6px;
          background: #B01D1E;
          transform: rotate(45deg);
        }
      }
    }
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 325px;
  }

  &__lng-list {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out all;
    position: absolute;
    right: -25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.11);
    width: 83px;
    text-align: right;
    z-index: 30;
    transform: translateY(5px);
    bottom: calc(100% - 30px);
    top: auto;
    padding: 0 15px 55px;
    li {
      border-bottom: 1px solid #F2F2F2;
      line-height: 1;
    }
    a {
      transition: .2s ease-in-out all;
      display: block;
      height: 100%;
      padding: 15px 10px;
      &:hover {
        color: #B01D1E;
      }
    }

  }

  &__lng {
    font-weight: normal;
    font-size: 13px;
    line-height: 114.9%;
    text-transform: uppercase;
    color: #040404;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out all;
    &--current {
      z-index: 31;
      position: relative;
      transition: .2s ease-in-out all;
    }
    &:before {
      content: '';
      background: url('../img/lng.svg') center/contain no-repeat;
      width: 15px;
      height: 15px;
      position: absolute;
      left: -0px;
      top: -2px;
      z-index: 31;
      transition: .2s ease-in-out all;
    }
    &:after {
      content: '';
      background: url('../img/arrow-b.svg') center/contain no-repeat;
      width: 6px;
      height: 6px;
      position: absolute;
      right: -10px;
      top: 4px;
      z-index: 31;
      transition: .3s ease-in-out transform, .2s ease-in-out background;
    }
    &:hover {
      .footer__lng--current {
        color: #B01D1E;
      }
      &:before {
        background-image: url('../img/lng-red.svg');
      }
      &:after {
        transform: rotate(180deg);
        background-image: url('../img/arrow-b-red.svg');
      }
    }
    &.active {
      &:after {
        transform: rotate(180deg);
      }
      .footer__lng-list {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  &__login {
    font-weight: normal;
    font-size: 13px;
    line-height: 114.9%;
    text-transform: uppercase;
    color: #040404;
    position: relative;
    padding-left: 20px;
    transition: .2s ease-in-out color;
    &:before {
      content: '';
      background: url('../img/login.svg') center/contain no-repeat;
      width: 11px;
      height: 13px;
      position: absolute;
      left: -0px;
      top: -2px;
      transition: .2s ease-in-out background-image;
    }

    &:hover {
      color: #B01D1E;
      &:before {
        background-image: url('../img/login-red.svg');
      }
    }

  }

  &__register {
    width: 139px;
    min-height: 44px;
    border: 1px solid #3A3A3A;
    font-weight: normal;
    font-size: 13px;
    line-height: 114.9%;
    text-transform: uppercase;
    color: #040404;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out all;
    position: relative;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: #B01D1E;
      z-index: -1;
      margin-right: -10px;
      margin-top: 10px;
      transition: all 0.2s ease-in;
      opacity: 0;
    }
    &:hover {
      border-color: #B01D1E;
      color: #fff;
      &:before {
        opacity: 1;
        margin: 0;
      }
    }
  }

  &__add {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 65px;
  }
  &__copy {
    font-weight: normal;
    font-size: 14px;
    line-height: 144.9%;
    color: #A6A6A6;
    min-width: 200px;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -7px;
    li {
      margin-right: 35px;
      display: inline-block;
      margin-bottom: 7px;
    }
    a {
      font-weight: normal;
      font-size: 14px;
      line-height: 144.9%;
      text-decoration: underline;
      color: #000;
      transition: .2s ease-in-out all;
      &:hover {
        text-decoration-color: transparent;
        color: #B01D1E;
      }
    }
  }
  &__soc {
    display: flex;
    justify-content: space-between;
    width: 300px;
    min-width: 300px;
    margin-top: -20px;
    a {
      background-size: contain;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      display: block;
      transition: .2s ease-in-out all;
      &:hover {
        transform: translateY(-4px);
      }
    }
    &--telegram {
      background-image: url(../img/telegram.svg);
    }
    &--facebook {
      background-image: url(../img/facebook.svg);
    }
    &--instagram {
      background-image: url(../img/instagram.svg);
    }
    &--youtube {
      background-image: url(../img/youtube.svg);
    }
  }
  &__text {
    font-weight: normal;
    font-size: 12px;
    line-height: 144.9%;
    color: #A6A6A6;
    padding-top: 20px;
    p {
      font-weight: normal;
      font-size: 13px;
      line-height: 144.9%;
      color: #A6A6A6;
      margin-bottom: 15px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__flex-wrap {
    display: flex;
  }

  &--line{
    .footer__row{
      border-top: 1px solid #EAEAEA;
      padding-top: 50px;
    }
  }

  &--lk{
    padding-bottom: 50px;
    .footer__profile{
      justify-content: flex-end;
      margin-right: 15px;
    }
    .footer__row{
      align-items: center;
    }
    .footer__add{
      align-items: flex-start;
      margin-top: 50px;
    }
  }
}

@media (max-width: $xl) {
  .footer {
    &__nav {
      li {
        margin-right: 25px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: $lg) {
  .footer {
    &__mobile-menu {
      background: red;
      background: #FFFFFF;
      box-shadow: 0px -20px 20px 0px rgba(0, 0, 0, 0.15);
      position: absolute;
      bottom: 97%;
      left: 0;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      padding-bottom: 25px;
      z-index: 25;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      opacity: 0;
      visibility: hidden;
      transform: translateY(15px);
      transition: .3s ease-in-out visibility, .3s ease-in-out opacity, .3s ease-in-out transform;
      &.vis {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
    &__profile {
      min-width: 360px;
    }
    &__nav {
      max-width: 310px;
      li {
        margin-right: 0;
        width: 50%;
        line-height: 1;
        margin-bottom: 25px;
      }
      a {
        line-height: 1;
      }
    }
    &__copy {
      min-width: 150px
    }
    &__soc {
      width: 280px;
      min-width: 280px;
    }
    &--lk{
      .footer__profile{
        margin-right: 0px;
      }
      .footer__lng{
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: $md) {
  .footer {
    &__add {
      flex-direction: column;
    }
    &__soc {
      margin-top: 0px;
      width: 290px;
      min-width: 290px;
    }
    &__flex-wrap {
      margin-bottom: 20px;
    }
    &__mobile-menu {
      bottom: 100%;
    }


  }
}

@media (max-width: $sm) {
  .footer {
    padding-top: 10px;
    padding-bottom: 25px;
    &__logo {
      margin-top: -10px;
      background-image: url(../img/logo-m.svg);
      background-position: center left;
      min-width: 30px;
      height: 30px;
      margin-right: 40px;
    }
    &__profile {
      min-width: auto;
      min-width: 190px;
    }
    &__mobile-menu {
      transform: translateY(20px);
      height: auto;
      position: absolute;
      justify-content: flex-end;
      bottom: 100%;
    }
    &__nav {
      margin-top: 45px;
      border-bottom: 1px solid #CDCDCD;
      margin-bottom: 30px;
      max-width: none;
      padding-bottom: 5px;
      li {
        width: 140px;
      }
    }
    &__login {
      //margin-left: auto;
      //margin-right: auto;
      //margin-bottom: 20px;
    }
    &__register {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    &__flex-wrap {
      flex-direction: column;
    }
    &__copy{
      margin-bottom: 20px;
    }
    &__soc {
      margin-top: 0px;

      margin-left: auto;
      margin-right: auto;
    }
  }
}