.header {
  padding-top: 30px;
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
  position: relative;
  z-index: 1;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  .container {

  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__logo {
    background: url(../img/logo.svg) center/contain no-repeat;
    min-width: 133px;
    height: 22px;
    display: block;
    margin-right: 40px;
    margin-top: 9px;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    li {
      margin-right: 35px;
      display: inline-block;
    }
    a {
      font-weight: normal;
      font-size: 13px;
      text-transform: uppercase;
      color: #040404;
      display: block;
      line-height: 1.3 !important;
      &:hover {
        color: #B01D1E;
      }
      &.active {
        color: #B01D1E;
        position: relative;
        padding-left: 13px;
        &:before {
          content: '';
          position: absolute;
          top: 4px;
          left: 0px;
          width: 6px;
          height: 6px;
          background: #B01D1E;
          transform: rotate(45deg);
        }
      }
    }

    &--lk {
      margin-left: 100px;
      li {
        margin-right: 55px;
      }
      a.link-trading {
        position: relative;
        &:before {
          content: '';
          width: 10px;
          height: 10px;
          background: url(../img/frame-black.svg) center/contain no-repeat;
          position: absolute;
          top: -10px;
          left: -18px;
          transform: rotate(90deg);
        }
        &:after {
          content: '';
          width: 10px;
          height: 10px;
          background: url(../img/frame-black.svg) center/contain no-repeat;
          position: absolute;
          bottom: -7px;
          right: -18px;
          transform: rotate(-90deg);
        }
        &.active {
          padding-left: 0;
          &:before {
            background-image: url(../img/frame.svg);
          }
          &:after {
            background-image: url(../img/frame.svg);
          }
        }
      }
      a.link-status {
        position: relative;
        padding-left: 16px;
        &:before {
          content: '';
          width: 10px;
          height: 10px;
          background: url(../img/status.svg) center/contain no-repeat;
          position: absolute;
          top: 2px;
          left: 0px;
        }
        &.active {
          padding-left: 0;
          &:before {
            transform: none;
            background: url(../img/status-red.svg) center/contain no-repeat;
          }
        }
      }
    }
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 325px;
    cursor: pointer;
    &--lk {
      min-width: auto !important;
      margin-top: 4px;
      .header__login {
        margin-left: 32px;
        margin-right: 15px;
        &:after{
            content: '';
            background: url(../img/arrow-b.svg) center/contain no-repeat;
            width: 6px;
            height: 6px;
            position: absolute;
            right: -12px;
            top: calc(50% - 4px);
            z-index: 31;
            transition: .3s ease-in-out transform, .2s ease-in-out background;
          }
      }
    }
  }

  &__lng-list {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out all;
    position: absolute;
    top: -20px;
    right: -25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.11);
    width: 83px;
    text-align: right;
    padding: 55px 15px 0;
    z-index: 30;
    transform: translateY(-5px);
    li {
      border-top: 1px solid #F2F2F2;
      line-height: 1;
    }
    a {
      transition: .2s ease-in-out all;
      display: block;
      height: 100%;
      padding: 15px 10px;
      &:hover {
        color: #B01D1E;
      }
    }

  }

  &__lng {
    font-weight: normal;
    font-size: 13px;
    line-height: 114.9%;
    text-transform: uppercase;
    color: #040404;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out all;
    &--current {
      z-index: 31;
      position: relative;
      transition: .2s ease-in-out all;
    }
    &:before {
      content: '';
      background: url('../img/lng.svg') center/contain no-repeat;
      width: 15px;
      height: 15px;
      position: absolute;
      left: -0px;
      top: -2px;
      z-index: 31;
      transition: .2s ease-in-out all;
    }
    &:after {
      content: '';
      background: url('../img/arrow-b.svg') center/contain no-repeat;
      width: 6px;
      height: 6px;
      position: absolute;
      right: -10px;
      top: 4px;
      z-index: 31;
      transition: .3s ease-in-out transform, .2s ease-in-out background;
    }
    &:hover {
      .header__lng--current {
        color: #B01D1E;
      }
      &:before {
        background-image: url('../img/lng-red.svg');
      }
      &:after {
        transform: rotate(180deg);
        background-image: url('../img/arrow-b-red.svg');
      }
    }
    &.active {
      &:after {
        transform: rotate(180deg);
      }
      .header__lng-list {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  &__login {
    font-weight: normal;
    font-size: 13px;
    line-height: 114.9%;
    text-transform: uppercase;
    color: #040404;
    position: relative;
    padding-left: 20px;
    transition: .2s ease-in-out color;
    &:before {
      content: '';
      background: url('../img/login.svg') center/contain no-repeat;
      width: 11px;
      height: 13px;
      position: absolute;
      left: -0px;
      //top: 9px;
      top: calc(50% - 8px);
      transition: .2s ease-in-out background-image;
      z-index: 31;
    }

    &.active {
      &:after {
        transform: rotate(180deg);
      }
    }

    &:hover {
      color: #B01D1E;
      &:before {
        background-image: url('../img/login-red.svg');
      }
      &:after{
        transform: rotate(180deg);
        background-image: url(../img/arrow-b-red.svg);
      }
    }

  }
  &__register {
    width: 139px;
    min-height: 44px;
    border: 1px solid #3A3A3A;
    font-weight: normal;
    font-size: 13px;
    line-height: 114.9%;
    text-transform: uppercase;
    color: #040404;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out all;
    position: relative;
    &:hover {
      border-color: #B01D1E;
      color: #B01D1E;
    }
  }
  &__login-amount {
    font-weight: bold;
    font-size: 18px;
    line-height: 187.9%;
    text-transform: uppercase;
    z-index: 31;
    position: relative;
  }
  &__login-list {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out all;
    position: absolute;
    top: -13px;
    right: -25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.11);
    width: 265px;
    text-align: right;
    padding: 55px 25px 0;
    z-index: 30;
    transform: translateY(-5px);
    li {
      border-top: 1px solid #F2F2F2;
      line-height: 1;
      a {
        transition: .2s ease-in-out all;
        display: block;
        height: 100%;
        padding: 20px 0px;
        text-align: left;
      }
    }
  }
  &__login-login {
    a {
      font-weight: 500;
      font-size: 15px;
      text-transform: none;
    }

  }
  &__login-exit {
    a {
      font-size: 13px;
      text-transform: uppercase;
      color: #AAAAAA;
      position: relative;
      display: flex !important;
      align-items: center;
      &:before{
        content: '';
        display: inline-block;
        background: url(../img/exit.svg) center/contain no-repeat;
        width: 16px;
        height: 16px;
        transition: .2s ease-in-out all;
        margin-right: 13px;
      }
      &:hover{
        color: #B01D1E;
        &:before{
          background-image: url(../img/exit-red.svg);
        }
      }
    }

  }

  &__login {
    &.active {
      .header__login-list {
        opacity: 1;
        visibility: visible;
        transform: translateY(0)
      }
    }
  }
}

@media (max-width: $xl) {
  .header {
    &__nav {
      li {
        margin-right: 25px;
        margin-bottom: 15px;
      }
      &--lk {
        margin-left: 70px;
        li {
          margin-right: 55px;
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .header {
    &__mobile-menu {
      background: red;
      background: #FFFFFF;
      box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.15);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 45px;
      z-index: 25;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-15px);
      transition: .3s ease-in-out visibility, .3s ease-in-out opacity, .3s ease-in-out transform;
      &.vis {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
    &__profile {
      min-width: 360px;
      &--lk{
        .header__login{
          margin-right: 48px;
        }
      }
    }
    &__nav {
      max-width: 310px;
      li {
        margin-right: 0;
        width: 50%;
        line-height: 1;
        margin-bottom: 25px;
      }
      a {
        line-height: 1;
      }

      &--lk{
        margin-left: 15px;
        a{
          &.link-trading{
            &:after{
              display: none;
            }
          }
        }
      }
    }

  }
}

@media (max-width: $sm) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
    position: static;
    &__logo {
      margin-top: -10px;
      background-image: url(../img/logo-m.svg);
      background-position: left;
      min-width: 30px;
      height: 30px;
    }
    &__profile {
      min-width: auto;
      min-width: 190px;
      &--lk{
        margin-top: -9px;
      }
    }
    &__mobile-menu {
      top: 72px;
      bottom: 0;
      transform: translateY(-20px);
    }
    &__nav {
      margin-top: 45px;
      border-bottom: 1px solid #CDCDCD;
      margin-bottom: 30px;
      max-width: none;
      padding-bottom: 5px;
      li {
        width: 140px;
      }
    }
    &__login {
      //margin-left: auto;
      //margin-right: auto;
      //margin-bottom: 20px;
    }
    &__register {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
}