.history {
  &__wrap {
    margin-top: 15px;
    border: 1px solid #E6E6E6;
    padding: 35px 55px 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  &__title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0px;
      width: 5px;
      height: 5px;
      background: #000;
      transform: rotate(45deg);
    }
  }
  &__box-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  &__box {

    &:first-of-type {
      border-right: 1px solid #EAEAEA;
      padding-right: 55px;
      width: 45%;
    }
    &:last-of-type {
      padding-left: 40px;
      width: 55%;
    }
  }
  &__title-add {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: #040404;
    margin-bottom: 15px;
    &--1 {
      margin-bottom: 83px;
    }
  }
  &__select {
    margin-bottom: 20px;
    &.disabled {
      opacity: .5;
      pointer-events: none;
    }
  }
  &__box-table {
    display: flex;
    flex-direction: column;
  }
  &__box-row {
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 9px 2px;
  }
  &__box-col {
    color: #000000;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:first-of-type {
      color: #A3A3A3;
      width: 60%;
    }
    &:last-of-type {
      justify-content: center;
      text-align: center;
      width: 40%;
    }

  }
  &__box-column-wrap {
    display: flex;
    justify-content: space-between;
  }
  &__box-column {
    display: flex;
    flex-direction: column;
    width: 120px;
    &:nth-of-type(2) {
      width: 425px;
      padding-top: 30px;
    }
  }
  &__radio-btns {
    position: relative;
    label {
      margin-bottom: 40px;
    }
  }
  label {
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    position: relative;
    cursor: pointer;
    i {
      cursor: pointer;
      margin-right: 4px;
      margin-top: -3px;
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 14px;
      border: 1px solid #929292;
      border-radius: 50%;
      color: transparent;
      position: relative;
      transition: .2s ease-in-out background-color, .2s ease-in-out border-color;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        background: #B01D1E;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        transform: translate(-50%, -50%) scale(0);
        transition: .2s ease-in-out all;
      }
    }
  }
  input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    &:checked {
      & + label {
        color: #000;
        i {
          border-color: #B01D1E;
          &:after {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }
  }
  &__date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    input {
      width: 100%;
      height: 100%;
      border: 1px solid #D7D7D7;
      padding: 0 30px 0 10px;
    }
    &.disabled {
      pointer-events: none;
      opacity: .6;
    }
  }
  &__date-wrap {
    width: 205px;
    height: 44px;
    position: relative;
    margin-bottom: 0;
    &:after {
      cursor: pointer;
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 19px;
      width: 16px;
      height: 17px;
      background: url(../img/date.svg) center/contain no-repeat;
    }
  }
  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__view-btn {
    width: 205px;
    height: 44px;
    position: relative;
    input[type=submit] {
      width: 100%;
      height: 100%;
      border: 1px solid #000000;
      font-weight: 500;
      font-size: 14px;
      color: #000000;
      background: transparent;
      transition: .2s ease-in-out all;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: #B01D1E;
      z-index: -1;
      margin-right: -10px;
      margin-top: 10px;
      transition: all 0.2s ease-in;
      opacity: 0;
    }
    &:hover {
      input[type=submit] {
        border-color: #B01D1E;
        color: #fff;
      }

      &:before {
        opacity: 1;
        margin: 0;
      }
    }
    &.disabled {
      opacity: .3;
      pointer-events: none;
    }
  }
  &__download-file {
    width: 205px;
    height: 44px;
    background: #B01D1E;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: .2s ease-in-out all;
    span {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
    &:hover {
      border-color: #3A3A3A;
      color: #040404;
      background: transparent;

    }
    &.disabled {
      opacity: .3;
      pointer-events: none;
    }
    &--footer {
      position: absolute;
      top: -14px;
      right: 0;
    }
  }
  &__footer {
    margin-top: 45px;
    position: relative;
  }

  &__table-wrap {
    width: 100%;
    padding-top: 40px;

  }
  &__table-title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
  }
  &__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
    border-bottom: 1px solid #E4E4E4;
  }
  &__table-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 28px 20px;
    border-bottom: 1px solid #E4E4E4;
    height: 75px;
    &:last-of-type{
      border-bottom: none;
    }
    &--header {
      height: 44px;
      border-bottom: none;
      background: #F5F5F5;
      padding-top: 0;
      padding-bottom: 0;
      .history__table-col {
        font-weight: 500;
        font-size: 15px;
        color: #A4A4A4;
      }
    }

  }
  &__table-col {
    width: calc(100% / 6);
    font-weight: 500;
    font-size: 15px;
    color: #000;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 15px;
    flex-wrap: wrap;


  }
}

@media (max-width: $xl) {
  .history {
    &__wrap {
      padding: 35px 15px 35px;
    }
    &__box-column {
      &:nth-of-type(2) {
        width: 330px;
      }
    }
    &__date-wrap {
      width: 160px;
    }
    &__view-btn {
      width: 160px;
    }
    &__download-file {
      &:not(.history__download-file--footer) {
        width: 160px;
      }

    }
  }
}

@media (max-width: $lg) {
  .history {
    &__wrap {
      padding: 25px 0 35px;
    }
    &__box-wrap {
      flex-direction: column;
    }
    &__table-wrap {

    }
    &__box {
      width: calc(100% - 120px) !important;
      padding: 0;
      margin: 0 60px;
      &:nth-of-type(1) {
        padding-right: 0;
        border-right: none;
        padding-bottom: 50px;
        margin-bottom: 30px;
        border-bottom: 1px solid #EAEAEA;
      }
    }
    &__box-column {
      &:nth-of-type(2) {
        width: 425px;
      }
    }
    &__date-wrap {
      width: 205px;
    }
    &__view-btn {
      width: 205px;
    }
    &__download-file {
      &:not(.history__download-file--footer) {
        width: 205px;
      }
      &--footer {
        display: none;
      }

    }
    &__title {
      margin-left: 60px;
    }
    &__table-title {
      margin-left: 20px;
    }
    &__table-row {
      padding: 10px 0 10px 20px;
      &:last-of-type {
      }
    }
    &__footer {
      margin-top: 35px;
    }
  }
}

@media (max-width: $md) {
  .history {
    &__box {
      width: calc(100% - 40px) !important;
      margin: 0 20px;
      &:nth-of-type(1) {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    &__title-add {
      &--1 {
        margin-bottom: 10px;
      }
    }
    &__select {
      margin-bottom: 25px;
    }
    &__radio-btns {
      label {
        margin-bottom: 10px;
      }

    }
    &__title {
      margin-left: 20px;
    }
    &__box-column-wrap {
      flex-direction: column;
    }
    &__date-wrap {
      width: 49%;
    }
    &__view-btn {
      width: 49%;
    }
    &__download-file {
      &:not(.history__download-file--footer) {
        width: 49%;
      }
    }
    &__box-column {
      &:nth-of-type(1) {
        display: none;
      }
      &:nth-of-type(2) {
        width: 100%;
      }

    }

  }
}

@media (max-width: $sm) {
  .history {
    &__title {
      margin-left: 0;
    }
    &__wrap {
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding: 20px 0 0;
    }
    &__box {
      width: 100% !important;
      margin: 0;
      &:nth-of-type(1) {
        margin-bottom: 10px;
      }
    }
    &__table-row {
      padding: 14px 0 14px 5px;
    }
    &__table-col {
      font-size: 13px;
    }

    &__btns {
      flex-direction: column;
    }
    &__view-btn {
      width: 100%;
      margin-bottom: 15px;
    }
    &__download-file {
      width: 100% !important;
    }
    &__table-title {
      margin-left: 0;
    }
    &__select {
      margin-bottom: 15px;
    }
    &__box-col {
      font-size: 14px;
    }
  }
}
