.instrument {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 155px;
  position: relative;
  h2 {
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.2;
  }
  &__table {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
  }
  &__title {
    height: 54px;
    background: #F4F4F4;
    font-weight: bold;
    font-size: 19px;
    line-height: 1;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__cell {
    font-size: 16px;
    margin-top: 25px;
    color: #000000;
    &:first-of-type {
      font-weight: 800;
      font-size: 16px;
      color: #B01D1E;
    }

  }

  &__btn {
    padding-top: 3px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #040404;
    width: 177px;
    height: 48px;
    border: 1px solid #3A3A3A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transition: .2s ease-in-out all;
    position: relative;
    &:hover {
      border-color: #B01D1E;
      color: #B01D1E;
    }
  }
}

@media (max-width: $md) {
  .instrument {
    margin-bottom: 100px;
    h2 {
      font-size: 30px;
      margin-bottom: 40px;
    }
    &__cell{
      font-size: 14px;
      margin-top: 15px;
    }
    &__title {
      font-size: 16px;
      height: 42px;
    }
    &__table{
      padding: 15px 0 0;
      margin-bottom: 30px;
    }
    &__btn{
      width: 100%;
    }
  }
}