.main-banner {
  margin-bottom: 75px;
  overflow: hidden;
  h1, h2 {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1;
    margin-bottom: 70px;
    font-size: 70px;
    span {
      color: #A9A9A9;
    }
  }
  &__animation {
    position: absolute;
    left: 15px;
    top: 0;
    right: 15px;
    z-index: -1;
    height: 610px;
  }
  &__lines {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    & > div {
      background: #E3E3E3;
      width: 1px;
      height: 100%;
      background: rgba(227, 227, 227, 0.63);
      position: relative;
      &:nth-of-type(1) {
        & > span {
          animation: line-1 2.3s linear infinite alternate;
        }
      }
      &:nth-of-type(2) {
        & > span {
          animation: line-2 2.5s linear infinite alternate;
        }
      }
      &:nth-of-type(3) {
        & > span {
          animation: line-3 2.1s linear infinite alternate;
        }
      }
      &:nth-of-type(5) {
        & > span {
          animation: line-5 2.3s linear infinite alternate;
        }
      }
      &:nth-of-type(6) {
        & > span {
          animation: line-6 2.3s linear infinite alternate;
        }
      }
      &:nth-of-type(7) {
        & > span {
          animation: line-7 3s linear infinite alternate;
        }
      }
      & > span {
        width: 2px;
        height: 44px;
        position: absolute;
        top: 0;
        left: 0;
        background: #222222;

      }
    }
  }

  &__slider {
    position: relative;

  }
  &__info {
    margin-top: 200px;
    &--center {
      justify-content: center;
      display: flex;
    }
    &--inner{
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }
  &__text {
    display: flex;
    justify-content: center;
    &--collumn {
      flex-direction: column;
      width: 575px;
      h1, h2 {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 45px;
        line-height: 1;
        max-width: 510px;
      }
      .main-banner__btn {
        margin-left: 35px;
      }
    }
  }
  &__desc {
    max-width: 470px;
    margin-right: 56px;
    position: relative;
    margin-bottom: 35px;
    padding-left: 35px;
    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 3px;
      width: 6px;
      height: 6px;
      background: #B01D1E;
      transform: rotate(45deg)
    }
    &--marker-red {
      &:before {
        background: #B01D1E;
      }
    }
  }

  &__btn {
    background: #B01D1E;
    font-weight: 500;
    font-size: 14px;
    line-height: 125.9%;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 192px;
    height: 58px;
    border: 1px solid transparent;
    transition: .2s ease-in-out all;
    padding-top: 1px;
    box-sizing: border-box;
    &:hover {
      border-color: #3A3A3A;
      color: #040404;
      background: transparent;
    }
  }

  &__img-wrap {
    width: 362px;
    display: flex;
    justify-content: center;
  }
  &__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--1 {
      width: 362px;
      height: 425px;
      background-image: url(../img/main-banner-1.png);
      transform: translateY(-50px);
    }
    &--2 {
      width: 252px;
      height: 221px;
      margin-top: 15px;
      background-image: url(../img/main-banner-2.png);
    }
    &--3 {
      width: 283px;
      height: 275px;
      margin-top: 15px;
      background-image: url(../img/main-banner-3.png);
    }
    &--4 {
      width: 256px;
      height: 179px;
      margin-top: 15px;
      background-image: url(../img/main-banner-4.png);
    }

    &--metatrader{
      width: 381px;
      height: 463px;
      background-image: url(../img/metatrader.png);
    }

  }

  &__arrows {

  }
  &__next {
    outline: none;
    background: transparent;
    width: 47px;
    height: 47px;
    transform: rotate(45deg) translateY(-50%);
    right: -9px;
    top: 50%;
    margin-top: 0;
    span {
      transition: .3s ease-in-out all;
      &:nth-of-type(1) {
        width: 23px;
        height: 1px;
        background: #000000;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:nth-of-type(2) {
        width: 47px;
        height: 1px;
        background: #000000;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      &:nth-of-type(3) {
        width: 1px;
        height: 47px;
        background: #000000;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
      }
      &:nth-of-type(4) {
        width: 1px;
        height: 23px;
        background: #000000;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    &:after {
      content: '';
      background: url(../img/arrow-r.svg) center/contain no-repeat;
      width: 10px;
      height: 12px;
      top: 50%;
      left: 50%;
      transform: rotate(-45deg) translate(27%, -63%);
      position: absolute;
      transition: .3s ease-in-out all;
    }
    &:hover {
      &:after {
        //transform: rotate(-45deg) translate(70%, -63%);
      }
      span {
        &:nth-of-type(1) {
          width: 47px;
        }
        &:nth-of-type(4) {
          height: 47px;
        }
      }
    }
  }
  &__prev {
    outline: none;
    background: transparent;
    width: 47px;
    height: 47px;
    left: -40px;
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
    margin-top: 0;
    span {
      transition: .3s ease-in-out all;
      &:nth-of-type(1) {
        width: 47px;
        height: 1px;
        background: #000000;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:nth-of-type(2) {
        width: 23px;
        height: 1px;
        background: #000000;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      &:nth-of-type(3) {
        width: 1px;
        height: 0px;
        background: #000000;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
      }
      &:nth-of-type(4) {
        width: 1px;
        height: 47px;
        background: #000000;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    &:after {
      content: '';
      background: url(../img/arrow-r.svg) center/contain no-repeat;
      width: 10px;
      height: 12px;
      top: 50%;
      left: 50%;
      transform: rotate(135deg) translate(0%, 63%);
      position: absolute;
      transition: .3s ease-in-out all;
    }
    &:hover {
      &:after {
        //transform: rotate(135deg) translate(30%, 63%);
      }
      span {
        &:nth-of-type(2) {
          width: 47px;
        }
        &:nth-of-type(3) {
          height: 47px;
        }
      }
    }
  }
  &--referal{
    overflow: unset;
  }


  .swiper-pagination {
    bottom: -50px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 100%;
  }
  .swiper-pagination-bullet {
    opacity: 1;
    margin: 5px 13px !important;
    outline: none;
    transition: .2s ease-in-out background, .2s ease-in-out opacity, .2s ease-in-out height, .2s ease-in-out width;
    width: 6px;
    height: 6px;
    background: #000;
    //transform: rotate(45deg);
    //border-radius: 0;
    &:hover {
      opacity: .5;
    }
  }
  .swiper-pagination-bullet-active {
    background: #B01D1E;
    opacity: 1 !important;
    width: 10px;
    height: 10px;
    pointer-events: none;
  }

}

@media (max-width: $xl) {
  .main-banner {
    &__animation {
      height: 550px;
    }

    &__lines {
      & > div {
        &:nth-of-type(1) {
          display: none;
        }
        &:nth-of-type(2) {
          & > span {
            animation: line-2-2 2.1s linear infinite alternate;
          }
        }
        &:nth-of-type(3) {
          & > span {
            animation: line-3-2 1.8s linear infinite alternate;
          }
        }
        &:nth-of-type(5) {
          & > span {
            animation: line-5-2 2.2s linear infinite alternate;
          }
        }
        &:nth-of-type(6) {
          & > span {
            animation: line-6-2 1.8s linear infinite alternate;
          }
        }
        &:nth-of-type(7) {
          display: none;
        }
      }
    }

    &__text {
      &--collumn {
        width: 490px;
        h1, h2 {
          font-size: 60px;
        }
      }
    }
    &__img-wrap {
      width: 300px;
    }
    &__img {
      &--1 {
        width: 300px;
        height: 340px;
      }
      &--2 {
        width: 240px;
        height: 220px;
      }
      &--3 {
        width: 260px;
        height: 250px;
      }
      &--4 {
        width: 250px;
        height: 170px;
      }


    }

    &__info {
      margin-top: 135px;
      &--inner{
        margin-top: 80px;
        margin-bottom: 30px;
        h2{
          font-size: 70px;
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .main-banner {
    h1, h2 {
      font-size: 60px;
      margin-bottom: 40px;
    }
    &__text {
      &--collumn {
        width: 360px;
        h1, h2 {
          font-size: 50px;
        }
        .main-banner__desc {
          margin-right: 15px;
        }
      }
    }

    &__img-wrap {
      width: 250px;
    }
    &__img {
      &--1 {
        width: 235px;
        height: 340px;
      }
      &--2 {
        width: 220px;
        height: 220px;
      }
      &--3 {
        width: 240px;
        height: 250px;
      }
      &--4 {
        width: 225px;
        height: 170px;
      }

      &--metatrader{
        width: 225px;
        height: 300px;
      }
    }
    &__info{
      &--inner{
        justify-content: space-between;
        h2{
          font-size: 60px;
        }
      }
    }
  }
}

@media (max-width: $md) {
  .main-banner {
    padding-bottom: 50px;
    h1, h2 {
      font-size: 40px;
      margin-bottom: 30px;
    }

    &__arrows {
      display: none;
    }
    &__text {
      flex-direction: column;
    }
    &__btn {
      width: 100%;
      margin-left: 0 !important;
    }
    &__img-wrap{
      display: none;
    }

    &__desc {
      //max-width: 100%;
      margin-right: 35px !important;
    }

    &__text{
      width: auto !important;
    }
    &__desc {
      font-size: 15px;
      padding-left: 25px;
    }
    &__animation {
      display: none;
    }
    &__info{
      margin-top: 60px;
      &--inner{
        margin-bottom: -40px;
        h2{
          font-size: 40px;
        }
      }
    }

    &--referal{
      .main-banner__img-wrap{
        width: 0;
      }
      .main-banner__text{
        width: 100% !important;
      }
    }
  }
}

@media (max-width: $sm) {
  .main-banner {





  }
}