.make-money{
  margin-bottom: 245px;
  margin-top: 130px;
  h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-bottom: 85px;
  }
  &__btn{
    width: 222px;
    height: 58px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #B01D1E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    transition: .2s ease-in-out all;
    border: 1px solid transparent;
    &:hover{
      border-color: #3A3A3A;
      color: #040404;
      background: transparent;
    }
  }
}

@media (max-width: $lg) {
  .make-money{
    margin-bottom: 180px;
  }
}
@media (max-width: $md) {
  .make-money{
    margin-bottom: 60px;
    h2{
      margin-bottom: 60px;
    }
    &__btn{
      margin-top: 35px;
    }
  }
}
@media (max-width: $sm) {
  .make-money{
    h2{
      margin-bottom: 50px;
    }
    &__btn{
      margin-top: 25px;
    }
  }
}