.mobile-trading {
  margin-bottom: 145px;
  h2 {
    margin-bottom: 20px;
  }
  &__row {
    justify-content: space-between;
    max-width: 825px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  &__img {
    background: url(../img/mobile-trading.png) center/contain no-repeat;
    width: 233px;
    height: 402px;
  }
  &__col {
    max-width: 450px;
  }
  p {
    position: relative;
    padding-left: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 184.9%;
    margin-bottom: 35px;
    strong {
      font-weight: inherit;
      color: #B01D1E;
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    a {
      width: 164px;
      height: 51px;
      border: 1px solid #3A3A3A;
      font-weight: normal;
      font-size: 14px;
      line-height: 1;
      text-transform: uppercase;
      color: #040404;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 2px;
      position: relative;
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: #B01D1E;
        z-index: -1;
        margin-right: -10px;
        margin-top: 10px;
        transition: all 0.2s ease-in;
        opacity: 0;
      }
      &:hover {
        border-color: #B01D1E;
        color: #fff;
        &:before {
          opacity: 1;
          margin: 0;
        }
      }
      i {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 14px;
        margin-top: -3px;
        transition: .2s ease-in-out all;
      }
    }
  }
  &__apple {
    i {
      background-image: url(../img/apple.svg);
      width: 12px;
      height: 15px;
    }
    &:hover {
      i {
        background-image: url(../img/apple-white.svg);
      }
    }
  }
  &__google-play {
    i {
      background-image: url(../img/google-play.svg);
      width: 10px;
      height: 14px;
    }
    &:hover {
      i {
        background-image: url(../img/google-play-white.svg);
      }
    }
  }
}

@media (max-width: $xl) {
  .mobile-trading {
    margin-bottom: 115px;
  }
}

@media (max-width: $md) {
  .mobile-trading {
    margin-bottom: 40px;
    h2{
      text-align: center;
    }
    p {
      padding-left: 25px;
    }
    &__img {
      background: url(../img/mobile-trading-2.png) center/contain no-repeat;
      max-width: 315px;
      width: 100%;
      height: 190px;
      margin-left: auto;
      margin-right: auto;
    }
    &__row {
      flex-direction: column;
      border-bottom: 1px solid #E0E0E0;
      padding-bottom: 50px;
    }
    &__btns {
      max-width: 100%;
      flex-direction: column;
      a{
        width: 100%;
        margin-bottom: 14px;
      }
    }
  }
}