.personal-area {
  margin-bottom: 20px;
  padding-top: 20px;
  h2 {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__tabs-slider {
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 27px;
    //&:before {
    //  content: '';
    //  position: absolute;
    //  width: 64px;
    //  height: 74px;
    //  left: 0;
    //  top: -50%;
    //  z-index: 2;
    //  background: linear-gradient(270deg, #fff 5.22%, rgba(255, 255, 255, 0) 132.81%);
    //  transform: matrix(-1, 0, 0, 1, 0, 0);
    //}
    //&:after {
    //  content: '';
    //  position: absolute;
    //  width: 64px;
    //  height: 74px;
    //  right: -20px;
    //  top: -50%;
    //  z-index: 1;
    //  background: linear-gradient(270deg, #fff 5.22%, rgba(255, 255, 255, 0) 132.81%);
    //}
  }
  &__tabs {
    li {
      width: auto;
      //width: 120px;
      margin-right: 45px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  &__tab {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #969696;
    border-bottom: 2px solid transparent;
    display: block;
    transition: .2s ease-in-out all;
    padding: 0 2px 6px;
    &[aria-selected=true] {
      color: #B01D1E;
      pointer-events: none;
      border-color: #B01D1E;
      &[href='#calculator'] {
        i {
          background-image: url(../img/calculator-red.svg);
        }
      }
    }

    &[href='#calculator'] {
      i {
        margin-right: 11px;
        position: relative;
        top: 2px;
        display: inline-block;
        background: url(../img/calculator.svg) center/contain no-repeat;
        width: 13px;
        height: 14px;
        transition: .2s ease-in-out all;
      }
    }
  }

  &__files {
    display: flex;
    align-items: center;
    li {
      margin-right: 19px;
    }
    a {
      display: flex;
      align-items: center;
    }
    i {
      width: 15px;
      height: 20px;
      display: block;
      margin-right: 10px;
      margin-top: -2px;
    }
  }
  &__pdf-ico {
    background: url(../img/pdf-ico.svg) center/contain no-repeat;
  }
  &__xls-ico {
    background: url(../img/xls-ico.svg) center/contain no-repeat;
  }
  &__format-file {
    color: #B01D1E;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 8px;
    font-weight: bold;
  }
  &__weight-file {
    color: #BEBEBE;
    font-size: 13px;
    font-weight: bold;
  }

  &__accounts-filter {
    width: 152px;
    margin-right: 40px;
  }
  &__accounts-filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  &__accounts-filter-wrap {
    display: flex;
    align-items: center;
  }
  &__btns-filter {
    display: flex;
    & > * {
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
      border-left: 1px solid #000000;
      height: 42px;
      background: #fff;
      font-weight: 500;
      font-size: 13px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #000000;
      padding: 0 23px;
      transition: .2s ease-in-out all;
      &:last-of-type {
        border-right: 1px solid #000000;
      }
      &:hover, &.active {
        background: #000;
        color: #fff;
      }
    }
    &--mobile {
      width: 100%;
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
  }
  &__table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    border-bottom: 1px solid #E4E4E4;

    pointer-events: none;

    &--header {
      color: #A4A4A4;
      background: #FAFAFA;
      border-bottom: none;
      .personal-area__table-col {

      }
    }
  }
  &__table-col {
    padding: 0 10px;
    width: calc(100% / 7);
  }
  &__table-title {
    display: none;
  }

  &__calculator {
    padding-top: 10px;
    margin-bottom: 35px;
    h3 {
      margin-bottom: 20px;
    }
    form {
      border: 1px solid #6C6C6C;
      padding: 40px 60px 60px;
    }
  }
  &__calculator-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
    flex-wrap: wrap;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__calculator-title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
    &:before {
      content: '';
      position: absolute;
      top: 9px;
      left: 0px;
      width: 6px;
      height: 6px;
      background: #000;
      transform: rotate(45deg);
    }
    &--not-marker {
      padding-left: 0 !important;
      &:before {
        display: none !important;
      }
    }
  }
  &__calculator-col {
    width: 190px;
    margin-right: 70px;
    &:last-of-type {
      margin-right: 0;
    }
    label {
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      color: #040404;
      margin-bottom: 10px;
    }
    input[type=submit] {
      width: 205px;
      height: 44px;
      background: #B01D1E;
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
      color: #FFFFFF;
      transition: .2s ease-in-out all;
      border: 1px solid transparent;
      padding-top: 3px;
      &:hover {
        border-color: #3A3A3A;
        color: #040404;
        background: transparent;
      }
    }
  }

  &__calculator-desc {
    font-size: 14px;
    color: #818181;
    margin-top: 14px;
  }

  &__calculator-result {
    margin-bottom: 45px;
  }
  &__calculator-result-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #DEDEDE;
    padding-left: 30px;
    &:first-of-type {
      background: #F5F5F5;
      height: 44px;
      border-bottom: none;
      margin-bottom: 10px;
      .personal-area__calculator-result-col {
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
    &:last-of-type {
      border-bottom: 1px solid #000000;
    }

  }
  &__calculator-result-col {
    font-weight: 500;
    font-size: 16px;
    &:first-of-type {
      color: #7C7C7C;
    }
    &:last-of-type {
      color: #000;
      width: 105px;
    }

  }

  &__calculator-footer {
    padding: 0 30px 80px;
    p {
      font-size: 14px;
    }

  }
  &__calculator-footer-title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__calculator-footer-col {
    &:first-of-type {
      margin-right: 130px;
      max-width: 370px;
    }
    &:last-of-type {
      max-width: 460px;
    }
    strong {
      font-weight: 500;
      font-size: 16px;
      color: #B01D1E;
    }
    p {
      color: #818181;

    }
  }
  &__calculator-footer-row {
    display: flex;
    margin-top: 30px;
  }
}

@media (max-width: $xl) {
  .personal-area {
    &__accounts-filter-row {
      flex-wrap: wrap;
    }
    &__files {
      margin-left: auto;
      margin-top: 20px;
    }
    &__table-row {
      padding: 0 15px;
    }

    &__calculator {
      form {
        padding: 40px 40px 35px;
      }
    }
    &__calculator-row {
      &--first {
        align-items: flex-start;
      }
    }
    &__calculator-col {
      width: 300px;
      margin-bottom: 25px;
      input[type=submit] {
        width: 300px;
      }
    }

    &__calculator-result-row {
      padding-left: 15px;
    }
    &__calculator-result {
      margin-bottom: 30px;
    }
    &__calculator-footer {
      padding: 0 15px 80px;
    }
  }
}

@media (max-width: $lg) {
  .personal-area {
    &__calculator-col {
      width: 235px;
      input[type=submit] {
        width: 235px;
      }
    }
    &__calculator-footer {
      padding: 0 15px 40px;
    }
    &__calculator-footer-row {
      flex-direction: column;
      margin-top: 15px;
    }
    &__calculator-footer-col:first-of-type {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: $md) {
  .personal-area {
    h2 {
      margin-top: 25px;
      margin-bottom: 25px;
    }
    &__tabs-slider {
      margin-bottom: 28px;
    }

    &__accounts-filter-wrap {
      flex-direction: column;
      width: 100%;
    }
    &__accounts-filter {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__files {
      margin-left: 0;
      margin-top: 25px;
    }

    &__table {

    }
    &__table-title {
      display: block;
      color: #A4A4A4;
    }
    &__table-row {
      height: auto;
      flex-direction: column;
      border-bottom: none;
      margin-bottom: 20px;
      background: #F5F5F5;
      pointer-events: auto;
      &--header {
        display: none;
      }
      &:not(.active) {
        cursor: pointer;
        .personal-area__table-col:not(.personal-area__table-col--tab) {
          height: 0;
          opacity: 0;
          visibility: hidden;
          border-bottom: 0px solid #E4E4E4;
        }
      }
      &.active {
        .personal-area__table-val--tab {
          &:after {
            transform: rotate(180deg);
            margin-top: -3px;
          }
        }
      }
    }
    &__table-col {
      padding: 0;
      width: 100%;
      height: 50px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #E4E4E4;
      transition: .2s ease-in-out opacity, .2s ease-in-out visibility, .3s ease-in-out height, .3s ease-in-out border;
      &:first-of-type {
        border-bottom: none;
      }
      &:last-of-type {
        border-bottom: none;
      }
      &--tab {
        height: 42px;
      }
    }

    &__table-val {
      &--tab {
        position: relative;
        width: 100%;
        &:after {
          content: "";
          height: 8px;
          width: 8px;
          background: url(../img/arrow-b.svg) center/contain no-repeat;
          position: absolute;
          right: 0px;
          top: 50%;
          margin-top: -4px;
          pointer-events: none;
          border: none;
          transition: .2s ease-in-out transform;
        }
      }
    }

    &__calculator {
      margin-bottom: 0;
      form {
        border-left: none;
        border-bottom: none;
        border-right: none;
        padding: 20px 0px 35px;
      }
    }
    &__calculator-result-row {
      &:first-of-type {
        .personal-area__calculator-result-col {
          font-size: 13px;
        }
      }
    }
    &__calculator-col {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
      label {
        margin-bottom: 5px;
      }
      input[type=submit] {
        width: 100%;
        margin-top: 10px;
      }
    }
    &__calculator-desc {
      margin-top: 5px;
    }

    &__calculator-result-col {
      font-size: 13px;
    }

    &__calculator-result {
      padding-bottom: 40px;
      border-bottom: 2px solid #000000;
    }
    &__calculator-result-row {
      border-bottom: none;
      height: 45px;
      padding-left: 0;
      &:first-of-type {
        padding-top: 4px;
        padding-left: 15px;
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
    &__calculator-footer {
      padding-left: 0;
      padding-right: 0;
    }
  }
}