.personal-main{
  margin-bottom: 20px;
  padding-top: 20px;
  &__btns{
    display: flex;
    margin-bottom: 30px;
    a{
      width: 153px;
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
      border-left: 1px solid #000000;
      height: 42px;
      background: #fff;
      font-weight: 500;
      font-size: 13px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #000000;
      transition: .2s ease-in-out all;
      justify-content: center;
      &.active, &:hover{
        background: #000;
        color: #fff;
      }
      &:last-of-type{
        border-right: 1px solid #000000;
      }
    }
  }
  &__title{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #B01D1E;
    position: relative;
    padding-left: 20px;
    margin-bottom: 13px;
    &:before{
      content: '';
      position: absolute;
      top: 8px;
      left: 0px;
      width: 5px;
      height: 5px;
      background: #B01D1E;
      transform: rotate(45deg);
    }
  }
  &__table{
    width: 100%;
    margin-right: 75px;
    padding-bottom: 30px;
  }
  &__table-row{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 30px;
    border-bottom: #F5F5F5 solid 2px;
    &:first-of-type{
      height: 44px;
      background: #F5F5F5;
      border-bottom: none;
      .personal-main__table-col{
        font-weight: 500;
        font-size: 15px;
        color: #A4A4A4;
      }


    }
  }
  &__table-col{
    width: calc(100%/5);
    font-weight: 500;
    font-size: 15px;
    color: #000;
  }
  &__table-id{
    font-size: 12px;
    line-height: 1;
    color: #B01D1E;
  }
  &__hidden-menu-btn{
    width: 30px;
    height: 15px;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    span{
      position: absolute;
      width: 3px;
      height: 3px;
      left: 50%;
      transform: translateX(-50%);
      background: #B9B9B9;
      border-radius: 50%;
      &:nth-of-type(1){
        top: 0;
      }
      &:nth-of-type(2){
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:nth-of-type(3){
        bottom: 0;
      }
    }

  }
  &__hidden-menu{
    opacity: 0;
    visibility: hidden;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    width: 150px;
    background: #FFFFFF;
    transition: .2s ease-in-out all;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    padding: 0 15px;

    &:before{
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 21px;
      height: 10px;;
      border: 10px solid transparent;
      border-bottom: 10px solid #fff;
    }
    &.active{
      opacity: 1;
      visibility: visible;
    }
    li{
      border-bottom: 1px solid #EAEAEA;
      &:last-of-type{
        border-bottom: none;
      }
    }
    a{
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      color: #000000;
      display: flex;
      align-items: center;
      width: 100%;
      height: 40px;
      &:hover{
        color: #B01D1E;
      }
    }

  }
  &__add-account{
    font-weight: 500;
    font-size: 13px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #B01D1E;
    padding: 3px 0;
  }

  &__wrap{
    display: flex;
    justify-content: space-between;
  }
  &__news{
    min-width: 180px;
    padding-left: 35px;
    border-left: 1px solid #E9E9E9;
    margin-top: -20px;
  }
  &__news-title{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 25px;
  }
  &__news-list{
    display: flex;
    flex-direction: column;
  }
  &__news-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    &:hover{
      .personal-main__news-text{
        color: #B01D1E;
      }
    }
  }
  &__news-text{
    font-size: 14px;
    line-height: 174.9%;
    color: #939393;
    margin-bottom: 5px;
    transition: .2s ease-in-out all;
    text-decoration: underline;
    text-decoration-color: transparent
  }
  &__news-date{
    font-weight: 500;
    font-size: 14px;
    color: #B01D1E;
  }

  &__links{
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 18px;

  }
  &__add-funds{
    font-size: 14px;
    color: #FFFFFF;
    width: 112px;
    height: 32px;
    background: #B01D1E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
    position: relative;
    padding-left: 5px;
    border: 1px solid transparent;
    transition: .2s ease-in-out all;
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      width: 11px;
      height: 11px;
      transition: .2s ease-in-out all;
      background: url(../img/plus.svg) center/contain no-repeat;
    }
    &:hover{
      border-color: #3A3A3A;
      color: #040404;
      background: transparent;
      &:before{
        background-image: url(../img/plus-b.svg);
      }
    }
  }
  &__history{
    font-weight: normal;
    font-size: 13px;
    text-decoration-line: underline;
    text-transform: uppercase;
    text-decoration-color: #000000;
    transition: .2s ease-in-out all;
    color: #000000;
    &:hover{
      color: #B01D1E;
      text-decoration-color: transparent;
    }
  }
  &__total{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #F5F5F5;
    margin-bottom: 40px;
    padding-bottom: 5px;
  }
  &__total-title{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #040404;
  }
  &__total-amount{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #040404;

  }

  &__demo{
    .personal-main__table-col{
      color: #8B8B8B;
    }
  }
  &__demo-row{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 30px;
    &:first-of-type{
      height: 44px;
      background: #F5F5F5;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #A4A4A4;
      align-items: center;
    }

  }
  &__demo-total{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  &__demo-total-title{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #C7C7C7;
  }
  &__demo-total-amount{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #C7C7C7;
  }
}