.revenue-share {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 100px;
  margin-bottom: 230px;
  &:before {
    content: '';
    position: absolute;
    background: url(../img/frame.svg) center/contain no-repeat;
    width: 35px;
    height: 37px;
    top: 100%;
    left: 0;
  }
  &:after {
    content: '';
    position: absolute;
    background: url(../img/frame.svg) center/contain no-repeat;
    width: 35px;
    height: 37px;
    bottom: 100%;
    right: 0;
    transform: rotate(180deg);
  }
  &__img {
    width: 172px;
    min-width: 172px;
    height: 241px;
    background: url(../img/revenue-share.svg) center/contain no-repeat;
  }
  h2 {
    margin-bottom: 30px;
    strong {
      font-size: 80px;
      display: block;
    }
  }
  p {
    position: relative;
    padding-left: 35px;
    strong {
      font-weight: inherit;
      color: #B01D1E;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__col {
    max-width: 415px;
  }
}

@media (max-width: $lg) {
  .revenue-share {
    margin-bottom: 160px;
    padding: 0;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
    &__img {
      width: 173px;
      min-width: 173px;
      height: 241px;
    }
    &__col {
      max-width: 330px;
    }
  }
}

@media (max-width: $md) {
  .revenue-share {
    margin-bottom: 80px;
    h2 {
      strong {
        display: none;
      }
    }
    P {
      font-size: 15px;
      padding-left: 25px;

    }
    &__row {
      flex-direction: column;
    }
    &__img {
      min-width: auto;
      margin-left: -165px;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 150px;
      background-position: 10px 100%;
      margin-bottom: 20px;
      &:after {
        content: '60%';
        font-size: 70px;
        line-height: 1;
        display: block;
        margin: 0;
        font-family: "Times New Roman";
        font-weight: bold;
        width: 100%;
        left: 140px;
        position: relative;
        top: 10px;
      }
    }
  }
}