.setting {
  &__title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    position: relative;
    padding-left: 25px;
    margin-bottom: 13px;
    margin-top: 25px;
    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0px;
      width: 5px;
      height: 5px;
      background: #000;
      transform: rotate(45deg);
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__panel {
    width: 726px;
  }

  &__block {
    width: 100%;
    background: #F9F9F9;
    display: flex;
    justify-content: space-between;
    padding: 25px 35px 25px 45px;
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
    flex-wrap: wrap;
    border: 1px solid transparent;
    transition: .2s ease-in-out all;
    align-items: center;
    &.active {
      background: #fff;
      border-color: #DEDEDE;
      .setting__name i {
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
      .setting__btn{
        opacity: 0;
        visibility: hidden;
        right: 15px;
      }
      .setting__btn-close{
        transform: rotate(45deg) scale(1);
        right: 27px;
        opacity: 1;
        visibility: visible;
      }
      .setting__info p{
        opacity: 0;
        visibility: visible;
        max-height: 0;
        margin: 0;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    p{
      transition: .2s ease-in-out all;
      opacity: 1;
      max-height: 200px;
      visibility: visible;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 174.9%;
      color: #7B7B7B;
      margin-top: 10px;
      strong{
        font-weight: bold;
        color: #B01D1E;
      }
    }
  }

  &__name {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    display: flex;
    align-items: center;
    position: relative;
    i {
      margin-right: 15px;
      position: absolute;
      left: -29px;
      top: 50%;
      transform: translateY(-50%);
      transition: .2s ease-in-out all;
      &:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: .2s ease-in-out all;
      }
    }
  }

  &__change-password {
    .setting__name {
      i {
        display: block;
        width: 18px;
        height: 18px;
        background: url(../img/change-password.svg) center/contain no-repeat;
        &:before {
          background: url(../img/change-password-red.svg) center/contain no-repeat;
        }
      }
    }
  }

  &__login-set {
    .setting__block {
      align-items: flex-start;
    }
    .setting__btn {
      margin-top: 18px;
    }
    .setting__name {
      i {
        display: block;
        width: 17px;
        height: 15px;
        background: url(../img/login-set.svg) center/contain no-repeat;
        &:before {
          background: url(../img/login-set-red.svg) center/contain no-repeat;
        }
      }
    }
  }

  &__master-password {
    .setting__block {
      align-items: flex-start;
    }
    .setting__btn {
      margin-top: 18px;
    }
    .setting__name {
      i {
        display: block;
        width: 18px;
        height: 18px;
        background: url(../img/change-password.svg) center/contain no-repeat;
        &:before {
          background: url(../img/change-password-red.svg) center/contain no-repeat;
        }
      }
    }
  }
  &__email-notifications {
    .setting__name {
      i {
        display: block;
        width: 18px;
        height: 18px;
        background: url(../img/email-notifications.svg) center/contain no-repeat;
        &:before {
          background: url(../img/email-notifications-red.svg) center/contain no-repeat;
        }
      }
    }
    form{
      width: 100%;
    }
  }

  &__btn {
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
    width: 184px;
    height: 44px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    transition: .2s ease-in-out all;
    position: relative;
    right: 0px;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: #B01D1E;
      z-index: -1;
      margin-right: -10px;
      margin-top: 10px;
      transition: all 0.2s ease-in;
      opacity: 0;
    }
    &:hover {
      border-color: #B01D1E;
      color: #fff;
      &:before {
        opacity: 1;
        margin: 0;
      }
    }

    &.active {
      //color: transparent;
      //border-width: 0;
      //background: transparent;
      &:before {
        //opacity: 0;
      }

    }
  }

  &__btn-close {
    right: 15px;
    z-index: 1;
    position: absolute;
    top: 27px;
    width: 28px;
    height: 28px;
    transform: rotate(45deg);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: .2s ease-in-out all;
    &:after, &:before {
      content: '';
      background: #B8B8B8;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: .3s ease-in-out all;
    }
    &:after {
      height: 1px;
      width: 9px;
      transform: translate(-50%, -50%);
    }
    &:before {
      height: 9px;
      width: 1px;
      transform: translate(-50%, -50%);
    }
    span {
      transition: .3s ease-in-out all;
      background: #B8B8B8;
      position: absolute;
      &:nth-of-type(1) {
        width: 10px;
        height: 1px;
        top: 0;
        left: 0;
      }
      &:nth-of-type(2) {
        width: 16px;
        height: 1px;
        bottom: 0;
        left: 0;
      }
      &:nth-of-type(3) {
        width: 1px;
        height: 28px;
        bottom: 0;
        top: 0;
        left: 0;
      }
      &:nth-of-type(4) {
        width: 1px;
        height: 19px;
        bottom: 0;
        right: 0;
      }
    }
    &:hover {
      &:after, &:before{
        background: #000;
      }
      span {
        background: #000;
        &:nth-of-type(1) {
          width: 28px;
        }
        &:nth-of-type(2) {
          width: 28px;
        }
        &:nth-of-type(4) {
          height: 28px;
        }
      }
    }
  }

  &-toggle {
    //display: block;
  }

  &-cont {
    padding-right: 10px;
    max-height: 0;
    opacity: 0;
    visibility: visible;
    overflow: hidden;
    transition: .3s ease-in-out all;
    &.active {
      opacity: 1;
      visibility: visible;
      max-height: 500px;
      //display: block;
    }

  }

  &__change-password-form {
    width: 100%;
    form {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      input[type='text'], input[type='password'] {
        font-weight: 500;
        font-size: 14px;
        color: #A0A0A0;
        border-bottom: 1px solid #000000;
        background: transparent;
        padding-bottom: 6px;
        margin-bottom: 25px;
      }
      input[type='submit'] {
        padding-top: 3px;
        width: 184px;
        height: 44px;
        background: #B01D1E;
        font-weight: normal;
        font-size: 13px;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in-out all;
        border: 1px solid transparent;
        margin-top: 10px;
        &:hover {
          background: transparent;
          color: #000;
          border-color: #000;
        }
      }
    }
  }

  &__google-authenticator{
    .setting__name {
      i {
        display: block;
        width: 19px;
        height: 19px;
        background: url(../img/google-authenticator.svg) center/contain no-repeat;
        &:before {
          background: url(../img/google-authenticator-red.svg) center/contain no-repeat;
        }
      }
    }
    .setting__block {
      align-items: flex-start;
    }
    .setting__btn {
      margin-top: 18px;
    }
    .setting__info{
      //padding-top: 12px;
    }
    .setting-cont{
      transition: .4s ease-in-out all;
      &.active{
        max-height: 1500px;
        padding-bottom: 15px;
      }
      p{
        font-size: 14px;
        line-height: 174.9%;
        color: #353535;
        margin-bottom: 30px;
      }
      h6{
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        margin-bottom: 20px;
        margin-top: 30px;
      }
      section{
        width: 100%;
        min-height: 77px;
        background: #F7F7F7;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding: 15px 20px;
        p{
          font-weight: 500;
          font-size: 15px;
          line-height: 1.2;
          color: #000000;
          width: 360px;
          margin-right: 30px;
          margin-bottom: 0;
        }
        img{
          height: 34px;
        }
      }
      .section-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:first-of-type{
          padding-bottom: 40px;
          border-bottom: 1px solid #E0E0E0;
          margin-bottom: 30px;
        }
      }
      .black-btn{
        width: 171px;
        height: 44px;
        background: #000000;
        font-size: 13px;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;

        align-items: center;
        justify-content: center;
      }
      .section-col{
        max-width: 390px;
        p{
          margin-bottom: 0;
        }
        &--qr{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: auto;
          margin-left: 15px;
          margin-bottom: 5px;
          img{
            max-width: 90px;
            margin-bottom: 30px;
          }

        }
        &--activating{
          h6{
            margin-top: 0;
            margin-bottom: 25px;
          }
          img{
            max-width: 290px;
          }
        }
        form{
          max-width: 235px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          label{
            font-weight: normal;
            font-size: 14px;
            line-height: 174.9%;
            color: #353535;
            margin-bottom: 5px;
          }
          input[type='text'], input[type='password']{
            width: 100%;
            border-bottom: 1px solid #000000;
          }
          input[type='submit']{
            padding-top: 3px;
            margin-top: 25px;
            width: 100%;
            height: 44px;
            background: #B01D1E;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: normal;
            font-size: 13px;
            text-transform: uppercase;
            color: #FFFFFF;
            border: 1px solid transparent;
            transition: .2s ease-in-out all;
            &:hover{
              border-color: #000;
              color: #000;
              background: transparent;
            }
          }
        }
      }


    }
  }

  &__panel-add {
    width: 418px;
    display: flex;
    flex-direction: column;
    form{
      width: 100%;
      margin-bottom: 14px;
      label{
        margin-bottom: 20px;
        cursor: pointer;
      }
      input[type='file']{
        display: none;
      }
      input[type='text'], input[type='email']{
        border-bottom: 2px solid #000000;
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        width: 100%;
        background: transparent;
        padding-right: 21px;
      }
    }
  }
  &__email{
    position: relative;
    &:after{
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      top: 5px;
      right: 0;
      background: url(../img/edit.svg) center no-repeat;
    }
  }
  &__avatar{
    display: flex;
    align-items: center;
  }
  &__avatar-img{
    display: block;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 18px;
  }

  &__avatar-title{
    display: block;
    font-weight: normal;
    font-size: 14px;
    color: #131313;
  }
  &__format{
    display: block;
    font-weight: normal;
    font-size: 14px;
    color: #9C9FA6;
  }
  &__activity{
    margin-bottom: 60px;
  }
  &__activity-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #E4E4E4;
    &:first-of-type{
      background: #F5F5F5;
      border-bottom: none;
    }
    .setting__activity-col{
      font-weight: 500;
      font-size: 14px;
      color: #A4A4A4;
    }
  }
  &__activity-col{
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    strong{
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      color: #B01D1E;
    }
    &:nth-of-type(1){
      width: 40%;
      padding-right: 15px;
    }
    &:nth-of-type(2){
      width: 60%;
    }
  }
  &__block-btn{
    width: 157px;
    height: 44px;
    border: 1px solid #000000;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    transition: .2s ease-in-out all;
    position: relative;
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: #B01D1E;
        z-index: -1;
        margin-right: -10px;
        margin-top: 10px;
        transition: all 0.2s ease-in;
        opacity: 0;
    }
    &:hover{
      border-color: #B01D1E;
      color: #fff;
      &:hover:before {
        opacity: 1;
        margin: 0;
      }
    }
  }
  &__warning{
    padding-left: 33px;
    p{
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 5px;
      position: relative;
      i{
        background: url(../img/block.svg) center/contain no-repeat;
        width: 12px;
        height: 16px;
        margin-right: 12px;
        position: absolute;
        top: 2px;
        left: -30px;
      }
    }
    strong{
      font-weight: 500;
      font-size: 14px;
      color: #B01D1E;
      display: block;
      margin-bottom: 23px;
    }
  }

  &__history{
    font-size: 13px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #B01D1E;
    text-decoration-color: #B01D1E;
    transition: .2s ease-in-out all;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 110px;
    margin-top: 25px;
    display: block;
    &:hover{
      color: #000;
      text-decoration-color: #000;
    }
  }
}


@media (max-width: $xl) {
  .setting{
    &__panel{
      width: 530px;
    }
    &__panel-add{
      width: 330px;
    }
    &__info{
      max-width: 250px;
    }
    &__login-set {
      .setting__btn {
        margin-top: 30px;
      }
    }
    &__master-password {
      .setting__btn {
        margin-top: 30px;
      }
    }
    &__google-authenticator{
      .setting__btn {
        margin-top: 30px;
      }

      .setting-cont{
        .section-row{
          align-items: normal;
        }
        .section-col{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          max-width: 390px;
          //max-width: 100%;
          //margin-left: 0;
          //margin-bottom: 0;
          form{
            max-width: 200px;
            //max-width: 100%;
          }
          &--activating  {
            img{
              max-width: 220px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $lg){
  .setting{
    padding-bottom: 25px;
    &__info{
      max-width: 400px;
    }
    &__wrap{
      flex-direction: column;
    }
    &__panel{
      width: 100%;
      margin-bottom: 80px;
    }
    &__panel-add{
      width: 100%;
    }
    .setting__block{
      &.active{
        .setting__btn{
          right: 0;
        }
      }
    }

    &__login-set {
      .setting__btn {
        margin-top: 18px;
      }
    }
    &__master-password {
      .setting__btn {
        margin-top: 18px;
      }
    }
    &__google-authenticator{
      .setting__btn {
        margin-top: 18px;
      }
     .setting-cont{
        .section-col{
          form{
          }
          &--activating  {
            //margin-bottom: 50px;
            img{
              max-width: 320px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $md){
  .setting{
    padding-bottom: 25px;
    &__panel{
      margin-bottom: 60px;
    }
    &__block{
      padding: 25px 15px 25px 15px;
      flex-direction: column;
      align-items: flex-start;
    }
    &__name{
      margin-left: 25px;
    }
    &-cont{
      padding-right: 0px;
      width: 100%;
      &.active{
        margin-top: -44px;
      }

    }
    &__change-password {
      .setting__btn{
        margin-top: 18px;
      }

    }
    &__google-authenticator {

      .setting-cont{
        &.active{
          max-height: 1900px;
        }

        section{
          flex-direction: column;
          align-items: flex-start;
          padding: 15px;
          p{
            width: 100%;
            margin-bottom: 10px;
          }
        }

        .section-col{
          max-width: 100%;
          form{
            max-width: 100%;
          }
          &--qr{
            margin-top: 25px;
            margin-left: 0;
            margin-bottom: 0;
          }
          &--activating  {
            margin-bottom: 35px;
            img{
              //max-width: 320px;
            }

          }
        }

        .section-row{
          flex-direction: column;
        }
        .setting-col{

          &--qr{

          }

        }
      }

    }

    &__activity{
      margin-bottom: 40px;
    }
    &__activity-row{
      &__activity-col{
        font-size: 13px;
      }
    }
  }
}