.back {
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  &:before {
    content: '';
    background: url(../img/back.svg) center/contain no-repeat;
    width: 24px;
    height: 12px;
    display: inline-block;
    margin-right: 15px;
    transition: .2s ease-in-out all;
    position: relative;
    top: 1px;
  }
  &:hover {
    color: #B01D1E;
    &:before {
      transform: translateX(-3px);
      background-image: url(../img/back-red.svg);
    }
  }
}