.burger {
  cursor: pointer;
  height: 16px;
  display: none;
  &:hover {
    span {
      &, &:before, &:after {
        background: #B01D1E;
      }
    }
  }
  span {
    &, &:before, &:after {
      display: inline-block;
      vertical-align: middle;
      width: 22px;
      height: 2px;
      background: #000;
      position: relative;
      top: -6px;
      transition: all .3s ease-in-out;
    }
    &:after {
      position: absolute;
      content: "";
      top: auto;
      bottom: 8px;
    }
    &:before {
      position: absolute;
      content: "";
      top: 8px;
    }
  }

  &.active {
    span {
      transform: rotate(45deg);
      &:before {
        transform: translate(0px, -8px) rotate(-90deg);
      }
      &:after {
        transform: translate(0px, 8px) rotate(-90deg);
      }
      &, &:before, &:after {
        background: #000;
      }
    }
    &:hover {
      span {
        &, &:before, &:after {
          background: #B01D1E;
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .burger {
    display: inline-block;
  }
}
@media (max-width: $sm) {
  .burger {
  }
}