.checkbox-list{
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  li{
    position: relative;
    padding-right: 45px;
    min-width: 130px;
    padding-left: 30px;
    &:last-of-type{
      padding-right: 0;
    }
  }
  label{
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    line-height: 1.2;
    transition: .2s ease-in-out color;
    font-weight: normal;
    color: #7B7B7B;
    font-size: 14px;
    &:hover{
      color: #000;
    }
  }
  i{
    margin-right: 8px;
    margin-top: -5px;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #000;
    color: transparent;
    transition: .2s ease-in-out background-color, .2s ease-in-out border-color;
    position: absolute;
    left: 0px;
    top: 10px;
  }
  input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    &:checked{
      &+label{
        color: #000;
        i{
          border-color: #B01D1E;;
          background:  url(../img/ok-red.svg) center/8px no-repeat;
        }
      }
    }
  }
}

@media (max-width: $xl) {
  .checkbox-list{
    li{
      padding-right: 20px;
      min-width: 100px;
    }
  }
}

@media (max-width: $md) {
  .checkbox-list{
    li{
      min-width: auto;
      width: 50%;
      margin-bottom: 5px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}