.parallax {
  position: absolute;
  opacity: 0;
  transition: .6s ease-in-out opacity .6s;
  &--0 {
    display: none;
    top: 175px;
    right: 0;
    height: 128px;
  }
  &--05 {
    display: none;
    bottom: -55px;
    right: 0;
    height: 135px;
  }

  &--2 {
    top: -100px;
    left: 0;
    height: 200px;
  }
  &--6 {
    top: 72px;
    right: -100px;
    height: 388px;
  }
  &--3 {
    bottom: -90px;
    left: -180px;
    height: 252px;
  }
  &--4 {
    height: 247px;
    bottom: -50px;
    right: 0px;
  }
  &--7{
    width: 374px;
    right: 100px;
    top: 75px;
  }
  &--8{
    width: 228px;
    right: 200px;
    top: -50px;
  }
  &--9{
    width: 171px;
    right: 400px;
    top: -50px;
  }
  &.vis{
    opacity: 1;
  }
}

@media (max-width: $xl) {
  .parallax {
    &--6 {
      height: 250px;
      right: -115px;
    }

    &--3 {
      height: 200px;
      left: -70px;
    }

    &--7{
      right: 0px;
      top: 60px;
    }
    &--8{
      right: 100px;
    }
    &--9{
      right: 300px;
    }
  }
}
@media (max-width: $lg) {
  .parallax {
    &--2 {
      left: -110px;
    }
    &--4 {
      height: 210px;
    }

    &--7{
      width: 260px;
      top: 100px;
      right: 50px;
    }
    &--8{
      width: 160px;
      top: 0px;
      right: 162px;
    }
    &--9{
      width: 120px;
      top: -10px;
    }
  }
}

@media (max-width: $md) {
  .parallax {
    position: absolute;
    &--0 {
      display: block;
    }
    &--05 {
      display: block;
    }
    &--2 {
      display: none;
    }
    &--6 {
      display: none;
    }
    &--3{
      display: none;
    }
    &--7{
      width: 144px;
      left: -50px;
      top: auto;
      bottom: -165px;
      z-index: -1;
      //transform: none !important;
}
&--8{
  display: none;
}
&--9{
  width: 90px;
  top: -50px;
  right: 0;
}
}
}
@media (max-width: $sm) {
  .parallax {
  }
}