// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
	font-family: 'Spectral';
	src: url('../fonts/Spectral/Spectral-Regular.eot');
	src: url('../fonts/Spectral/Spectral-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Spectral/Spectral-Regular.woff2') format('woff2'),
	url('../fonts/Spectral/Spectral-Regular.woff') format('woff'),
	url('../fonts/Spectral/Spectral-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Spectral';
	src: url('../fonts/Spectral/Spectral-Medium.eot');
	src: url('../fonts/Spectral/Spectral-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Spectral/Spectral-Medium.woff2') format('woff2'),
	url('../fonts/Spectral/Spectral-Medium.woff') format('woff'),
	url('../fonts/Spectral/Spectral-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Spectral';
	src: url('../fonts/Spectral/Spectral-Bold.eot');
	src: url('../fonts/Spectral/Spectral-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Spectral/Spectral-Bold.woff2') format('woff2'),
	url('../fonts/Spectral/Spectral-Bold.woff') format('woff'),
	url('../fonts/Spectral/Spectral-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Spectral';
	src: url('../fonts/Spectral/Spectral-ExtraBold.eot');
	src: url('../fonts/Spectral/Spectral-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Spectral/Spectral-ExtraBold.woff2') format('woff2'),
	url('../fonts/Spectral/Spectral-ExtraBold.woff') format('woff'),
	url('../fonts/Spectral/Spectral-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Times New Roman';
	src: url('../fonts/TimesNewRoman/TimesNewRomanPS-BoldMT.eot');
	src: url('../fonts/TimesNewRoman/TimesNewRomanPS-BoldMT.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TimesNewRoman/TimesNewRomanPS-BoldMT.woff2') format('woff2'),
	url('../fonts/TimesNewRoman/TimesNewRomanPS-BoldMT.woff') format('woff'),
	url('../fonts/TimesNewRoman/TimesNewRomanPS-BoldMT.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}



//@font-face {
//	font-family: 'Yeseva One';
//	src: url('../fonts/YesevaOne/YesevaOne-Regular.eot');
//	src: url('../fonts/YesevaOne/YesevaOne-Regular.eot?#iefix') format('embedded-opentype'),
//	url('../fonts/YesevaOne/YesevaOne-Regular.woff2') format('woff2'),
//	url('../fonts/YesevaOne/YesevaOne-Regular.woff') format('woff'),
//	url('../fonts/YesevaOne/YesevaOne-Regular.ttf') format('truetype');
//	font-weight: normal;
//	font-style: normal;
//}

