.overflow-hide {
  overflow: hidden !important;
}
.overflow-unset{
  overflow: unset !important;
}
.w-0{
  width: 0 !important;
}


.white {
  color: #fff !important;
}

@-webkit-keyframes tape {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -400%;
  }
}

@keyframes tape {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -400%;
  }
}
