.overflow-hide {
  overflow: hidden !important;
}
.overflow-unset{
  overflow: unset !important;
}
.w-0{
  width: 0 !important;
}

.white {
  color: #fff !important;
}

.paragraph {
  position: relative;
  padding-left: 35px;
  strong{
    font-weight: inherit;
    color: #B01D1E;
  }
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 3px;
    width: 6px;
    height: 6px;
    background: #B01D1E;
    transform: rotate(45deg);
  }
}
.big-text, .big-text p{
  font-size: 22px;
  &:before {
    top: 15px;
  }
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper-content {
  flex: 1 0 auto;
}




@-webkit-keyframes tape {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -400%;
  }
}

@keyframes tape {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -400%;
  }
}


@media (max-width: $md) {
  .paragraph {
    font-size: 14px;
    padding-left: 25px;
    margin-top: 25px;
  }
  .big-text, .big-text p{
    font-size: 16px !important;
    &:before{
      top: 9px;
    }
  }
}
