body {
  color: $text-color;
  font-family: $font-basic;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  font-size: 100%;
  line-height: 1.08;
  margin: 0;
  font-family: $font-add;
  font-weight: bold;
}
img{
  max-width: 100%;
}
p {
  font: inherit;
  margin: 0;
  font-size: 16px;
}
h1{
  font-size: 70px;
  line-height: 1;
}
h2{
  font-size: 50px;
  line-height: 1;
  span{
    color: #B9B9B9;
  }
}
h3{
  font-size: 30px;
  line-height: 1;
}

@media (max-width: $md) {
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 22px;
  }
}