@keyframes line-1 {
  0% {
    top: 20%;
  }
  100% {
    top: 50%;
  }
}
@keyframes line-2 {
  0% {
    top: 45%;
  }
  100% {
    top: 20%;
  }
}

@keyframes line-3 {
  0% {
    top: 10%;
  }
  100% {
    top: 40%;
  }
}

@keyframes line-4 {
  0% {
    top: 35%;
  }
  100% {
    top: 20%;
  }
}

@keyframes line-5 {
  0% {
    top: 10%;
  }
  100% {
    top: 40%;
  }
}

@keyframes line-6 {
  0% {
    top: 60%;
  }
  100% {
    top: 20%;
  }
}

@keyframes line-7 {
  0% {
    top: 5%;
  }
  100% {
    top: 40%;
  }
}

@keyframes line-2-2 {
  0% {
    top: 5%;
  }
  100% {
    top: 35%;
  }
}

@keyframes line-3-2 {
  0% {
    top: 20%;
  }
  100% {
    top: 5%;
  }
}


@keyframes line-5-2 {
  0% {
    top: 0%;
  }
  100% {
    top: 25%;
  }
}
@keyframes line-6-2 {
  0% {
    top: 5%;
  }
  100% {
    top: 30%;
  }
}




.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}